.message__recipient {
  background-color: #f5ccc2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.message__sender {
  background-color: #c2f5c2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: auto; /* Align sender messages to the right */
  display: flex;
  align-items: center;
}

.message__avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message__content {
  display: flex;
  flex-direction: column;
}

.message__timestamp {
  font-size: 0.8em;
  color: gray;
}

.typing__indicator {
  font-style: italic;
  color: gray;
  margin: 10px 0;
}
