.chat-container {
  padding: 20px;
  background-color: #ffffffe7;
  border-radius: 16px;
  width: 100%;
}

.chat-header {
  background: linear-gradient(135deg, #000000dd, #04101f);
}

.messages {
  max-height: 800px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

.message {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 16px;
  max-width: 75%;
  word-wrap: break-word;
}

.message-sent {
  background-color: #fff;
  align-self: flex-end;
  margin-right: 8px;
  margin-left: 100px;
}

.message-received {
  background-color: rgba(254, 255, 254, 0.578);
  align-self: flex-start;
  margin-right: auto;
  border-left-width: 8px;
  margin-left: 16px;
}

.message-content {
  font-size: 16px;
  font-weight: bolder;
  color: #333;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-message {
  flex: 1;
  border: 1px solid #ccc;
  margin-right: 10px;
  outline-color: #ccc;
}

.chat-layout {
  display: flex;
}

.sidebar {
  max-height: 800px;
  overflow-y: scroll;
  width: 300px;
  padding: 20px;
  scrollbar-width: none;
}

.sidebar h3 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #ffffff31;
  border-radius: 8px;
}

.no-messages {
  padding: 20px;
  font-size: 1.2em;
  color: #888;
  text-align: center;
}

.status-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}

.status-indicator.online {
  background-color: rgb(7, 105, 7);
}
